.bg-deep-orange {
    background-color: #FF5722 !important;
    color: #fff;
}
.bg-indigo {
    background-color: #3F51B5 !important;
    color: #fff;
}
.bg-blue-grey {
    background-color: #607D8B !important;
    color: #fff;
}