/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 12, 2020, 11:06:03 PM
    Author     : Admin
*/

.scrolldata {
    overflow:scroll;
    overflow-x: hidden;
    height:80px;
}
.ui-growl-message p{
    color: white;
}
#formControl{
    max-width: 400px;
}
#form:cbb-Province{
    width: 100% !important;
}
#form select{
    width: 100%;
}
#table-coordinate{
    width: 100%;	
}

#table-coordinate th{
    text-align: center !important;
}
.scrolldata{
    width: 100%;
}
