html,body{height:100%;}
.main{
	height:100%;
	width:100%;
	overflow: auto;
	overflow-x: hidden;
}
.scrollable{
	max-height: 700px;
 	overflow-y: auto;
 	overflow-x: hidden;
}

@media only screen and (max-height: 750px) {
	
	.scrollable{
		max-height: 550px;
	 	overflow-y: auto;
	 	overflow-x: hidden;
	}
}
.navbar{
	height:70px;
	margin-bottom:0;
}

#panel-list-reo{
	width:300px;
}
.scroll-y-only{
	overflow-y:auto;
	overflow-x:hidden;
	height: 400px;
}