html,body{height:100%;}
.main{
	height:100%;
	width:100%;
	overflow: auto;
	overflow-x: hidden;
}
.scrollable{
	max-height: 700px;
 	overflow-y: auto;
 	overflow-x: hidden;
}

@media only screen and (max-height: 750px) {
	
	.scrollable{
		max-height: 550px;
	 	overflow-y: auto;
	 	overflow-x: hidden;
	}
}
.navbar{
	height:70px;
	margin-bottom:0;
}

#panel-list-reo{
	width:300px;
}
.scroll-y-only{
	overflow-y:auto;
	overflow-x:hidden;
	height: 400px;
}

.zoom-effect-container:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  border-radius: 2px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);  
}

.zoom-effect-container {
    border-radius: 2px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);  
}

.blinking{
    animation:blinkingText 1.2s infinite;
    font-size: 20px;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}