.scrolldata {
    overflow:scroll;
    overflow-x: hidden;
    height:80px;
}

#formControl{
	max-width: 400px;
}
#form:cbb-Province{
	width: 100% !important;
}
#form select{
	width: 100%;
}
#table-coordinate{
	width: 100%;	
}

#table-coordinate th{
	text-align: center !important;
}
.scrolldata{
	width: 100%;
}
.ui-dialog-content{
	overflow-x:hidden !important;
}
.ajax-loader{
	font-size: 4em;
	color: white;
}

.ui-widget-content{
    border:1px solid #8c8c8c;
    background-color: aliceblue   !important;
}