.popup-panel-overlay{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.popup-panel{
    margin: 100px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #DDD;
}
select{
	width: 95%;
}