.right-map{
    border: 1px black groove;
    padding-left: 0px;
    padding-right: 0px;
    max-height: 100%;
    overflow-y: auto;
	overflow-x: hidden;
}
#map{
    width: 100%;

    border: groove black 1px;
}
.container {
    max-width: 100%;
    margin:0px !important;
    padding: 0px !important;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: auto;
    height: auto;
    overflow-x: hidden;
}
.right-map{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}
.text{
    font-weight: bold;
    margin-top: 15px;
}
.input{
    width: 100%;
}
.title-header{
    font-weight: bold;
    background-color: black;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    /*Phong comment remove status*/
/*    margin-top: -14px;*/
}

.element-list-house ,.element-list-land {
    margin-top: 10px;
}

.element-list ,.element-list-house ,.element-list-land{
    padding-right: 15px;
    padding-left: 15px;
}
.btn-in-detai-page{
    border-radius: 20px;
    color: white;
    /*Phong change width*/
    /*width: 60px;*/
    /*width: 75px;*/
    height: 30px;
    /*Phong update status*/
    /*margin-top: 15px;*/
}

.btn-delete{
    margin-left: 15px;
    /*background-color: #343a40;*/
    background-color: #dc3545;
}
.btn-edit{
    background-color: #17a2b8;
/*    background-color: #fed136;
    color: black;*/
}
.blue-report{
    color: #007bff;
}
.red-report{
    color: #d9534f;
}
.report{
    font-size: 20px;
}
.flag{
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
    background-image: url("#{resource['img/flag.png']}");
}
.flag-red{
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
    background-image: url("#{resource['img/flag_red.png']}");
}

.blue-tick {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
    background-image: url("#{resource['img/blue-tick.png']}");
}
.btn-report {
    background: #fed136 !important; 
    color: black;
}

.button-report-status{
    color: white;
    margin-left: 15px;
    /*Phong comment remove status*/
    /*margin-top: 15px;*/
    font-weight: bold;
}

.button-report-status-icon-confused{
    background-color: #ee6161
}
.button-report-status-icon-not-verified{
    background-color: #ffcc00;
}
.button-report-status-icon-verified{
    background-color: #003fff;
}
.navbar{
	margin-bottom: 0;
	height: 70px;
}

